*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_container{
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
}

.container{
    max-width: 67vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* border: 2px solid black; */
}

.header_container{
    margin-bottom: 2.8rem;
}
#header_title{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2rem;
}
#header_description{
    max-width: 568px;
    text-align: center;
    color: rgb(90, 79, 79);
    margin: 0 auto;
}

.main_content_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width:650px){
    .main_content_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:1080px){
    .main_content_container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1340px){
    .main_content_container{
        grid-template-columns: repeat(4, 1fr);
    }
}
.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}
#image_link{
    position: relative;
    overflow: hidden;
    height: 11rem;
}
@media (min-width:768px){
    #image_link{
        height: 14rem;
    }
}
#png_img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
} 

.card_title{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_container:hover #png_img{
    transform: scale(1.1);
    transition-duration: 200ms;
}

#card_header_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: black;
}
#card_header_title:hover{
    color: blue;
}
#card_header_description{
    font-size: 1rem;
    color: rgb(36, 31, 31);
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}
#author_avatar_img{
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(40, 37, 37);
    border-radius: 50%;
    background-color: rgb(238, 231, 231);
}
#author_info{
    display: flex;
    flex-direction: column;
}
#author_name{
    color: rgb(77, 77, 104);
}
#author_date{
    color: rgb(143, 139, 139);
}
#author_tag span{
    font-size: 0.9rem;
    border: 1px solid rgb(87, 78, 78);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: gray;
}


